.inventory {
  padding: 12px;
  margin-top: -16px;
}

.db-title-icon1{
  width:40px;
  height:38px;
  object-fit:contain;
  filter: brightness(0) saturate(100%) invert(11%) sepia(83%) saturate(5901%) hue-rotate(347deg) brightness(92%) contrast(111%);
}

.db-title-text1{
  font-size:2rem;
  font-weight:900;
  color:#AE040F;
  letter-spacing:-0.3px;
}

.db-title1{
  display:flex;
  align-items:center;
  gap:4px;
  margin-bottom:0;
}